Android\PeopleTree\Android\peopleTree\bin\
Android\PeopleTree\Android\peopleTree\gen\
Android\PeopleTree\Android\peopleTree\gen\.settings
Android\PeopleTree\Android\peopleTree\gen\.classpath
Android\PeopleTree\Android\peopleTree\gen\.gitignore
Android\PeopleTree\Android\peopleTree\gen\.project
Android\PeopleTree\Android\peopleTree\gen\lint
Android\PeopleTree\Android\peopleTree\gen\proguard-project
Android\PeopleTree\Android\peopleTree\lint.xml
Android\PeopleTree\Android\peopleTree\gen\project.properties
Android\PeopleTree\Android\peopleTree\project.properties
